html,
body {
    margin: 15px;
    padding: 0;
}

header {
    text-align: center;
}

img {
    width: 5cm;
    height: auto;
    border-radius: 50%;
    text-align: center;
}

body {
    background-color: rgba(68, 235, 235, 0.356);
}

.search-wrapper {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input {
    font-size: 1rem;
    width: 30%;
    margin-left: 35%;
}
label{
    text-align: center;
    color: rgb(10, 6, 252);
    font-weight: bold;
    font-size: 25px;
}
.user-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card {
    border: 1px solid rgb(58, 2, 70);
    background-color: rgb(6, 221, 35);
    padding: .5rem;
}

.card>.header {
    margin-bottom: .25rem;
}

.card>.body {
    font-size: 0.8rem;
    color: rgb(139, 5, 5);
}

.card>.body1 {
    font-size: 0.8rem;
    color: rgb(255, 254, 254);
}
.hide {
    display: none;
}
.icon{
    width: 2cm;
    height: 2cm;
  }

footer {
    position: absolute;
    bottom: 10px;
    height: 3rem;     
}